.venv/
.env

handlers/__pycache__/
handlers/__init__.py

keyboards/__init__.py
keyboards/__pycache__/

states/__init__.py
states/__pycache__/

db/__pycache__/
db/__init__.py

callbacks/__pycache__/
callbacks/__init__.py
callbacks/__pycache__/inline_callback.cpython-312.pyc
callbacks/__pycache__/inline_callback.cpython-312.pyc

memory.db